{% extends "main/base.html" %}
{% block styles %} 
<link rel="stylesheet" href="{{url_for('main.static', filename='main/css/featured.css')}}">
<link rel="stylesheet" href="{{url_for('main.static', filename='main/css/why.css')}}">
{% endblock %}

{% block scripts %} 
<script src="{{url_for('main.static', filename='main/js/dash/featured.js')}}"></script>
<script src="{{url_for('main.static', filename='main/js/featured.js')}}"></script>
<script src="{{url_for('main.static', filename='main/js/why.js')}}"></script>
{% endblock %}

{% block content %} 

{% include 'main/components/cta.html' %}
{% include 'main/home/featured.html' %}
{% include 'main/home/why.html' %}

{% endblock %}
