{% extends "dash_base.html" %}

{% block title %} Admin Dash {% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dash.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/tabs.css')}}">

<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/user.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/users/view_edit.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/users/action.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/users/activity_log.css')}}">

<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/trips.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/trips/view.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/trips/edit_delete.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/trips/report.css')}}">

<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/vendors.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/vendor/view.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/vendor/edit.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/vendor/action.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/vendor/document_review.css')}}">
<link rel="stylesheet" href="{{url_for('admin.static', filename='admin/css/dashboard/modals/vendor/activity_log.css')}}">

{% endblock %}

{% block scripts %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="{{url_for('admin.static', filename='admin/js/revenueChart.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dash1.js')}}"></script>

<script src="{{url_for('admin.static', filename='admin/js/dashboard/user.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/users/view_edit.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/users/action.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/users/activity_log.js')}}"></script>

<script src="{{url_for('admin.static', filename='admin/js/dashboard/trips.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/trips/view.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/trips/edit_delete.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/trips/report.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/trips/stats.js')}}"></script>

<script src="{{url_for('admin.static', filename='admin/js/dashboard/vendors.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/vendor/view.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/vendor/edit.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/vendor/action.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/vendor/document_review.js')}}"></script>
<script src="{{url_for('admin.static', filename='admin/js/dashboard/modals/vendor/activity_log.js')}}"></script>


{% endblock %}

{% block content %} 

    <div class="safari-dashboard-container">
        {% include 'admin/dashboard/header.html' %}
        <div class="safari-tab-content safari-tab-active" data-tab-content="overview">
            {% include 'admin/dashboard/overview.html' %}    
        </div>
        <div class="safari-tab-content" data-tab-content="users">
            {% include 'admin/dashboard/user.html' %}    
        </div>
        <div class="safari-tab-content" data-tab-content="trips">
            {% include 'admin/dashboard/trips.html' %}    
        </div>
        <div class="safari-tab-content" data-tab-content="vendors">
            {% include 'admin/dashboard/vendors.html' %}    
        </div>
        <div class="safari-tab-content" data-tab-content="payments">
            {% include 'admin/dashboard/payments.html' %}    
        </div>
        <div class="safari-tab-content" data-tab-content="reports">
            {% include 'admin/dashboard/reports.html' %}    
        </div>
    </div>

{% include 'admin/dashboard/modals/users/view_edit.html' %}
{% include 'admin/dashboard/modals/users/action.html' %}
{% include 'admin/dashboard/modals/users/activity_log.html' %}

{% include 'admin/dashboard/modals/trips/view.html' %}
{% include 'admin/dashboard/modals/trips/edit_delete.html' %}
{% include 'admin/dashboard/modals/trips/stats.html' %}
{% include 'admin/dashboard/modals/trips/report.html' %}

{% include 'admin/dashboard/modals/vendor/view.html' %}
{% include 'admin/dashboard/modals/vendor/edit.html' %}
{% include 'admin/dashboard/modals/vendor/action.html' %}
{% include 'admin/dashboard/modals/vendor/document_review.html' %}
{% include 'admin/dashboard/modals/vendor/activity_log.html' %}

{% endblock %}



