<!-- TESTIMONIAL/REMARK SECTION -->
<section class="edu-remark-section">
  <div class="edu-remark-container">
    <div class="edu-remark-stars">
      <svg class="edu-remark-star" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="#f39c12">
        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
      </svg>
    </div>
    
    <blockquote class="edu-remark-quote">
      <p class="edu-remark-text">"EduSafaris transformed how we plan educational trips. The platform is intuitive, the support is outstanding, and our students have had incredible experiences."</p>
    </blockquote>
    
    <p class="edu-remark-author">- Sarah Johnson, Principal at Riverside High School</p>
  </div>
</section>



<!-- 22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z
      </svg>
      <svg class="edu-remark-star" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="#f39c12">
        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
      </svg>
      <svg class="edu-remark-star" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="#f39c12">
        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
      </svg>
      <svg class="edu-remark-star" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="#f39c12">
        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
      </svg>
      <svg class="edu-remark-star" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="#f39c12">
        <path d="M12 2l3.09 6.26L -->