{% extends "base_global.html" %}

{% block head %}
    <!-- Leaflet.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="">
    
    <!-- Safety-specific styles -->
    <link rel="stylesheet" href="{{ url_for('safety.static', filename='css/safety.css') }}">
    
    {% block safety_head %}{% endblock %}
{% endblock %}

{% block scripts %}
    <!-- Leaflet.js JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    
    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    
    <!-- Safety JavaScript -->
    <script src="{{ url_for('safety.static', filename='js/safety.js') }}"></script>
    
    {% block safety_scripts %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="safety-container">
        {% block safety_content %}{% endblock %}
    </div>
{% endblock %}